<h1>{{ name }}</h1>

<dl>
    <td>Nombre: </td>
    <dd>{{ name }}</dd>

    <td>Edad:: </td>
    <dd>{{age}}</dd>

    <td>Método: </td>
    <dd> {{ getHeroDescription() }}</dd>

    <td>Capitalizado: </td>
    <dd> {{ capitalizedName }}</dd>

</dl>
<button 
    *ngIf="name !== 'spiderman'" 
    (click)='changeHero()' type="button" class="btn btn-outline-primary mx-2">Cambiar Nombre
</button>

<button 
    *ngIf="age !== 23" 
    (click)='changeAge()' type="button" class="btn btn-outline-primary  mx-2">Cambiar Edad
</button>
<button (click)='resetForm()' type="button" class="btn btn-outline-primary">Reset</button>
